{% extends "base.html" %}
{% block content %}
<style> p.error {color:red;}</style>
<div align="center">
  

 <form action = "{{url_for('main.main_login')}}" method = "post">
    <fieldset>
      <p>Login to your Album:</p>
      <p>username:<input type = "text" name = "nm"/></p>
      <p>password:<input type = "text" name = "pw"/></p>
      <p><input type = "submit" value = "submit" /></p>
        {% if error[0]==1 %}
            <p class="error">username may not be left blank</p>
        {% endif %}
        {% if error[1]==1 %}
            <p class="error">password may not be left blank</p>
        {% endif %}
        {% if error[2]==1 %}
            <p class="error">Username does not exist</p>
        {% endif %}
        {% if error[3]==1 %}
            <p class="error">Password is incorrect for the specified username</p>
        {% endif %}
        
      </fieldset>
    </form>
</div>
 


{% endblock%}