{% extends "base.html" %}
{% block content %}
<style> p.error {color:red;}</style>
<div align="center">
 <head>
  <script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}"></script>

 </head>
 <form action = "{{url_for('main.main_login')}}" method = "post">
    <fieldset>
      <p>Login to your Album:</p>

      <p>username:<input id="login_username_input" type = "text" name = "username"/></p>
      <p>password:<input id="login_password_input" type = "password" name = "password"/></p>
      <!--<p><input id="login_submit" type = "submit" value = "submit" /></p> -->
      <p><button id="login_submit" type = "button">submit</button></p>  
      <p class="error" id="errors"></p>     
      </fieldset>
    </form>
</div>
 


{% endblock%}
