{% extends "base.html" %}
{% block content %}
<head>

  
</head>
  <div align="center">
    <h1>PICTURE</h1>
    <p class="important">
      Welcome!
    </p>
      <p>
      <img src="{{url_for('static', filename= 'images/%s' %file)}}">
      </p>
      <br>
      <p id="pic_{{piclist[num]}}_caption">{{caption}}</p>
      {% if session['username']%}
        {% if capedit %}
            <form action="{{url_for('pic.pic_route')}}" method="post">
              <p>New caption:<input id="pic_caption_input" type = "text" name = "caption"/></p>
              <input style="display:none" name="op" value="caption">
              <input style="display:none" name="picid" value="{{piclist[num]}}">
              <input id="pic_caption_submit" type="submit" value="update">
            </form>
        {% endif %}
      {% endif %}
      <p style="font-family: Arial; font-size: 20px">
      <nav>
        {%if flag_prev == 0 %}
        <a id = "prev_pic" href="{{url_for('pic.pic_route', picid=piclist[num-1])}}">previous
        </a>
        {%endif%}
        {%if flag_next == 0 %}
        <a id = "next_pic" href="{{url_for('pic.pic_route', picid=piclist[num+1])}}">next
        </a>
        {%endif%}
      </nav>
      </p>
      <p style="font-family: Arial; font-size: 20px">
        <a id = "parent_album" href="{{url_for('album.album_route',albumid=albumid)}}">back to album</a>
      </p>
  </div>
{% endblock %}
