{% extends "base.html" %}
{% block content %}
<div align="center">
  <head>
    <script type="text/javascript" src="{{url_for('static', filename='js/user.js')}}"></script>
    <style> p.error {color:red;}</style>
  </head>
  <body>
  <form>
    <fieldset>
      <p>Please sign up:</p>
      <p>username:<input id="new_username_input" type = "text" name = "username"/></p>
      <p>firstname:<input id="new_firstname_input" type = "text" name = "firstname"/></p>
      <p>lastname:<input id="new_lastname_input" type = "text" name = "lastname"/></p>
      <p>password:<input id="new_password1_input" type = "password" name = "password1"/></p>
      <p>verify your password:<input id="new_password2_input" type = "password" name = "password2"/></p>
      <p>email address:<input id="new_email_input" type = "text" name = "email"/></p>
      <p><button id="new_submit" type = "button">submit</button></p>
      <p id="errors" class="error"></p>   
  </fieldset>
  </form>          
  
  </body>
</div>
 


{% endblock%}
