{% extends "base.html" %}
{% block content %}
<div align="center">
  <head>
  <script type="text/javascript" src="{{url_for('static', filename='js/user_edit.js')}}"></script>
  <style> p.error {color:red;}</style>
  
  </head>
  <body>
  <fieldset>
    <form>
      <p>Update your information:</p>
      <p>firstname:<input id="update_firstname_input" type = "text" name = "firstname"/></p>
      <p>lastname:<input id="update_lastname_input" type = "text" name = "lastname"/></p>
      <p>email:<input id="update_email_input" type = "text" name = "email"/></p>
      <p>password:<input id="update_password1_input" type = "password" name = "password1"/></p>
      <p>verify your password:<input id="update_password2_input" type = "password" name = "password2"/></p>
      <p><button id ="update_submit" type = "button">update</button></p>
    </form>
      <p class="error" id="errors"></p>
          
  </fieldset>
  </body>
</div>
 


{% endblock%}
